<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
    <style>
    body { font-family: Arial, Helvetica, sans-serif;
           color: #7C7E7F;
    }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="{% url "dl_collections.views.home" %}">Digital Collection</a>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          {% for campus in campuses %}
          <li><a href="{% url "dl_collections.views.UC" campus.slug %}">{{ campus.slug }}</a></li>
          {% endfor %}
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              this would link to a UC Trust WAYF page <!-- (add with javascript so this does not go to screen readers?) -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block hero %}
    <div class="hero-unit row">
     {% block hero-content %}<h1>University of California Libraries <small>Digital Collection</small></h1>{% endblock %}
     <a href="javascript:false();" rel="tooltip" title="this would only show to logged in librarians" style="position:relative;top:2em;" class="btn btn-primary"><i class="icon-white icon-plus"></i> Add Collection</a>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      {% if extent and extent != "0.0 B" %}
      {{ extent }} bytes need DAMS solution
      {% endif %}
    </div>
  </div>
  {% if collections %}
    <ul class="thumbnails">
      {% for collection in collections %}
          <li class="span3">
            <div class="thumbnail">
              <a href="{% url 'dl_collections.views.details' collection.id collection.slug %}">{{ collection.name }}</a>
            </div>
          </li>
      {% endfor %}
      </ul>
  {% endif %}
{% endblock %}

<hr/>
    <div class="row">
      <div class="span3"><a href="{% url "django.contrib.sitemaps.views.sitemap" %}">sitemap.xml</a></div>
      <div class="span3">
        <a href="http://libraries.universityofcalifornia.edu/ngts/activities-and-groups">NGTS Power of Three Groups (POTs)</a>
      </div>
      <div class="span3">
        <a href="http://ucngts.tumblr.com/">UC Libraries Next-Generation Technical Services Tumblr</a>
      </div>
      <div class="span3">
      Copyright © 2013 UC Regents.<br/> All rights reserved.
      </div>
    </div>

  </div>

<script>
  $(function () {
    $('a[rel=tooltip]').tooltip({'title': this.title, 'placement':'right'});
  })
</script>

  </body>
</html>
