{% extends "base.html" %}

{% block hero %}
{% if collection %}
    <div class="hero-unit row">
        <h1>{{ collection.name }}
        <small>{% for campus in collection.campus.all %}
          {{ campus.slug }}
        {% endfor %}</small>
        </small>
        </h1>
        <div>{{ collection.description }}</div>
        {% if collection.extent %}
        <div>Extent: {{ collection.human_extent }}</div>
        {% endif %}
        {% if collection.url %}
        <a href="{{ collection.url }}">{{ collection.url }}</a>
        {% endif %}


        {% if collection.metadata_level %}
        <div>Metadata level: {{ collection.metadata_level }}</div>
        {% endif %}
        {% if collection.metadata_standard %}
        <div>Metadata standard: {{ collection.metadata_standard }}</div>
        {% endif %}

<!-- # Status/Format/Restriction/Need -->
<!-- status format access_restrictions -->

{% for x in collection.status.all %}
    <div>Status: {{ x.name }}</div>
{% endfor %}
{% for x in collection.format.all %}
    <div>Format: {{ x.name }}</div>
{% endfor %}
{% for x in collection.access_restrictions.all %}
    <div>Access Restrictions: {{ x.name }}</div>
{% endfor %}
{% for x in collection.need_for_dams.all %}
    <div>Need for DAMS: {{ x.name }}</div>
{% endfor %}

<a href="#" style="position:relative;top:2em;" class="btn"><i class="icon-pencil"></i> Edit Record</a>
    </div>
{% endif %}

{% endblock %}


  </body>
</html>
